.image{
    width: 20%;
}
.name{
    font-size: 18px;
}
.sub-heading{
    font-size: 15px;
}

.content{
    font-size: 10px;
}

.icons{
font-size: 20px;
}


@media (min-width: 640px){
    .image{
        width: 8%;
    }
    .name{
        font-size: 25px;
    }
    .sub-heading{
        font-size: 20px;
    }
    .content{
        font-size: 15px;
        font-weight: 400;
    }
    .icons{
    font-size: 30px;
    }
 }